.primary-overlay {
	background: rgba(112, 81, 176, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.section-header {
	padding-top: 2px !important;
	padding-bottom: 0;
}

.section-header .row {
	margin-bottom: 0;
}
.section-header .showcase {
	background: url('../../public/assets/images/preparingPaintingBig.jpg');
	background-size: cover;
	background-position: right;
	z-index: 1;
	min-height: 500px;
	color: #fff;
	padding-top: 100px;
}

.active-link {
	color: #4527a0;
	font-weight: bold;
}

.section-search input {
	padding: 5px !important;
	font-size: 18px !important;
	width: 90% !important;
}

.section-search .input-field {
	padding-top: 1rem !important;
}

.autocomplete-content {
	position: absolute;
	width: 100%;
	text-align: center;
}
.login-modal {
	top: 25% !important;
}
.register-modal {
	top: 15% !important;
}

@media (min-width: 320px) and (max-width: 767px) {
	.mini {
		min-width: 90%;
	}
	.login-modal {
		top: 25%;
	}
	.register-modal {
		top: 15%;
	}
	.section-header .showcase {
		padding-top: 50px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.mini {
		min-width: 70%;
	}
}

.carousel-item p {
	font-size: 20px !important;
}

.mini {
	width: 25% !important;
}

.no-footer > .modal-footer {
	display: none !important;
}

.fluid {
	width: 100%;
}

.header-image-wrapper {
	padding: 7px 5px 0 0;
	height: 64px;
}
.header-image {
	max-height: 50px;
}
.nav-wrapper .brand-logo img {
	margin: 'auto';
	height: '50px';
}
@media (max-width: 600px) {
	.nav-wrapper .brand-logo img {
		height: 56px;
	}
}

.settings-icons {
	font-size: large;
	margin-right: 10%;
}

.settings-hello-label {
	margin-left: 18%;
}

.section-settings {
	min-height: 48em;
}

.brand-logo :hover {
	cursor: pointer;
}
.remove-a-hover :hover {
	cursor: default;
	background-color: none;
}

nav {
	padding: 0 10px 0 10px;
	background-color: var(--primary);
}

nav .right {
	position: absolute;
	top: 0px;
	right: 0px;
}

.nav-wrapper form {
	margin: auto;
	width: 70%;
}

.nav-wrapper .input-field {
	padding-top: 7px;
}

.nav-wrapper form #search {
	height: 50px;
}

nav .right img {
	margin: 17px;
	height: 30px;
	width: 30px;
	border: 2px solid white;
	cursor: pointer;
}

nav .right .imgProfil a {
	height: 64px;
}

.hidden {
	display: none;
}

search-bar {
	width: inherit !important;
}

.settings-nav-item :hover {
	color: '#3F51B5';
}

@media (min-width: 600px) {
	.custom-side {
		width: auto;
	}
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #3f51b5;
	-webkit-box-shadow: 0 1px 0 0 #3f51b5;
	box-shadow: 0 1px 0 0 #3f51b5;
}

input:not([type]):focus:not([readonly]) + label,
input[type='text']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='url']:not(.browser-default):focus:not([readonly]) + label,
input[type='time']:not(.browser-default):focus:not([readonly]) + label,
input[type='date']:not(.browser-default):focus:not([readonly]) + label,
input[type='datetime']:not(.browser-default):focus:not([readonly]) + label,
input[type='datetime-local']:not(.browser-default):focus:not([readonly])
	+ label,
input[type='tel']:not(.browser-default):focus:not([readonly]) + label,
input[type='number']:not(.browser-default):focus:not([readonly]) + label,
input[type='search']:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #3f51b5;
}

input.invalid:not([type]),
input.invalid:not([type]):focus,
input.invalid[type='text']:not(.browser-default),
input.invalid[type='text']:not(.browser-default):focus,
input.invalid[type='password']:not(.browser-default),
input.invalid[type='password']:not(.browser-default):focus,
input.invalid[type='email']:not(.browser-default),
input.invalid[type='email']:not(.browser-default):focus,
input.invalid[type='url']:not(.browser-default),
input.invalid[type='url']:not(.browser-default):focus,
input.invalid[type='time']:not(.browser-default),
input.invalid[type='time']:not(.browser-default):focus,
input.invalid[type='date']:not(.browser-default),
input.invalid[type='date']:not(.browser-default):focus,
input.invalid[type='datetime']:not(.browser-default),
input.invalid[type='datetime']:not(.browser-default):focus,
input.invalid[type='datetime-local']:not(.browser-default),
input.invalid[type='datetime-local']:not(.browser-default):focus,
input.invalid[type='tel']:not(.browser-default),
input.invalid[type='tel']:not(.browser-default):focus,
input.invalid[type='number']:not(.browser-default),
input.invalid[type='number']:not(.browser-default):focus,
input.invalid[type='search']:not(.browser-default),
input.invalid[type='search']:not(.browser-default):focus,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea.invalid:focus,
.select-wrapper.invalid > input.select-dropdown,
.select-wrapper.invalid > input.select-dropdown:focus {
	border-bottom: 1px solid #f44336 !important;
	-webkit-box-shadow: 0 1px 0 0 #f44336 !important;
	box-shadow: 0 1px 0 0 #f44336 !important;
}

input:not([type]):focus.invalid ~ label,
input[type='text']:not(.browser-default):focus.invalid ~ label,
input[type='password']:not(.browser-default):focus.invalid ~ label,
input[type='email']:not(.browser-default):focus.invalid ~ label,
input[type='url']:not(.browser-default):focus.invalid ~ label,
input[type='time']:not(.browser-default):focus.invalid ~ label,
input[type='date']:not(.browser-default):focus.invalid ~ label,
input[type='datetime']:not(.browser-default):focus.invalid ~ label,
input[type='datetime-local']:not(.browser-default):focus.invalid ~ label,
input[type='tel']:not(.browser-default):focus.invalid ~ label,
input[type='number']:not(.browser-default):focus.invalid ~ label,
input[type='search']:not(.browser-default):focus.invalid ~ label,
textarea.materialize-textarea:focus.invalid ~ label {
	color: #f44336 !important;
}


.close-button {
	&:hover {
		background-color: rgba(0,0,0,0.2)
	}
}

.genderRadios {
	margin-left: 1.4em
}